{block content}
    <h1>Nová otázka</h1>
    {control questionNewForm}
    <div style="display: inline-block">
        <a n:href="Homepage:" class="a-btn">
            <button type="button" class="btn btn-secondary">Zpět (neukládat)</button>
        </a>
    </div>
{/block}
