{block content}
<div id="invalid-code-error" style="display: none">
    <p>Zadaný kód není platný!</p>
</div>
<div id="code-form">
    <form>
        <table>
            <tbody>
                <tr class="required">
                    <th><label for="code-form-input" class="required">Kód</label></th>
                    <td><input type="text" name="code" id="code-form-input" required class="text" maxlength="6" minlength="6"></td>
                </tr>
            </tbody>
            <tr>
                <th></th>
                <td><input type="submit" name="submit-code" id="code-form-submit" class="btn btn-primary button" value="Spustit test"></td>
            </tr>
        </table>
    </form>
    <p>Pokud chcete dostat nový kód, zadejte email <a n:href="Homepage:">zde</a>.</p>
</div>

<div id="question-block" style="display: none">
    <h1>Otázka <span id="question-number"></span> z 10</h1>
    <p><strong><span id="question-text"></span></strong></p>
    <form>
        <div class="radio">
            <div>
                <input id="answer1-input" type="radio" name="answer" value="answer1-input">
                <label for="answer1-input"><span id="answer1"></span></label>
            </div>
            <div>
                <input id="answer2-input" type="radio" name="answer" value="answer2-input">
                <label for="answer2-input"><span id="answer2"></span></label>
            </div>
            <div>
                <input id="answer3-input" type="radio" name="answer" value="answer3-input">
                <label for="answer3-input"><span id="answer3"></span></label>
            </div>
            <div>
                <input id="answer4-input" type="radio" name="answer" value="answer4-input">
                <label for="answer4-input"><span id="answer4"></span></label>
            </div>
        </div>
        <input type="submit" name="submit-answer" id="answer-form-submit" class="btn btn-primary button" value="Odeslat a zobrazit další otázku">
    </form>
</div>

<div id="result-block" style="display: none">
    <h1>Výsledek testu</h1>
    <p>Počet správných odpovědí: <span id="result-score"></span></p>
    <ol id="result-list">
    </ol>

    <div style="display: inline-block">
        <a n:href="Homepage:" class="a-btn">
            <button type="button" class="btn btn-secondary">Zpět na hlavní stranu</button>
        </a>
    </div>
</div>




<script src="{$basePath}/js/jquery-3.5.1.min.js"></script>
<script>
    "use strict";

    $(function () {

        $('#code-form-submit').click(function (event) {
            event.preventDefault();
            saveCode($('#code-form-input').val());
            let previousAnswer = {
                hasAnswer: false,
                code: getCode(),
            };
            getQuestionWithAjaxPost(previousAnswer);
        });

        $('#answer-form-submit').click(function (event) {
            event.preventDefault();
            let previousAnswer = {
                hasAnswer: true,
                code: getCode(),
                answer: {
                    questionRank: $('#question-number').text(),
                    answerRank: $('input[name="answer"]:checked').parent().index() + 1,
                }
            };
            getQuestionWithAjaxPost(previousAnswer);
        });
    });

    /**
     * Call API with POST method, send previous answer and get next question.
     */
    function getQuestionWithAjaxPost(previousAnswer) {
        $.post("api/v1/question", JSON.stringify(previousAnswer), function (data) {
            if (data.validCode) {
                if (data.hasQuestion === true) {
                    showQuestion(data.question);
                } else {
                    getTestResultWithAjax(getCode());
                }
            }
            else {
                showInvalidCodeError();
            }
        }, 'json');

    }

    /**
     * Call API with POST method and get the test results.
     */
    function getTestResultWithAjax(code) {
        $.post("api/v1/result", JSON.stringify(code), function (data) {
            if (data.validCode) {
                showTestResult(data.result);
            }
            else {
                showInvalidCodeError();
            }
        }, 'json');
    }

    /**
     * Show the given question (and hide other blocks on page). Question is attribute 'question' from JSON response.
     */
    function showQuestion(question) {
        $('input[type="radio"]').prop('checked', false);
        $('#question-number').text(question.rank);
        $('#question-text').text(question.text);
        $('#answer1').text(question.answer1);
        $('#answer2').text(question.answer2);
        $('#answer3').text(question.answer3);
        $('#answer4').text(question.answer4);
        if (question.rank === question.numberOfQuestions) {
            $('#answer-form-submit').val('Odeslat a zobrazit výsledky');
        }

        $('#invalid-code-error').hide();
        $('#code-form').hide();
        $('#result-block').hide();
        $('#question-block').show();
    }

    /**
     * Show test results (and hide other blocks on page).
     */
    function showTestResult(testResult) {
        $('#result-score').text(testResult.score);
        let resultListElement = $('#result-list');
        testResult.questions.forEach(function (question) {
            let questionElement = $("<li></li>");
            let questionTextElement = $("<p><strong><span class=\"question-text\"></span></strong></p>\n").text(question.questionText);
            let answersElement = $("<ul></ul>");
            question.answers.forEach(function (answer) {
                let answerElement = $("<li></li>").text(answer.answerText);
                if (answer.isCorrect) {
                    answerElement.addClass("correct-answer");
                }
                if (answer.isSelected) {
                    answerElement.addClass("selected-answer");
                }
                answersElement.append(answerElement);
            });
            questionElement.append(questionTextElement, answersElement);
            resultListElement.append(questionElement);
        });

        $('#invalid-code-error').hide();
        $('#code-form').hide();
        $('#question-block').hide();
        $('#result-block').show();
    }

    function showInvalidCodeError() {
        $('#invalid-code-error').show();
        $('#code-form').show();
        $('#question-block').hide();
        $('#result-block').hide();
    }

    /**
     * Save code to local storage.
     *
     * @param code
     */
    function saveCode(code) {
        localStorage.setItem("test_code", code);
    }

    /**
     * Get code from local storage. If code is not set, return null.
     */
    function getCode() {
        return localStorage.getItem("test_code");
    }

</script>


{/block}
