<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Testy</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	{block head}{/block}
</head>

<body>
	<div class=page>
		<div class="header">Testy</div>
		<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>
		<div class="content">
			{include content}
		</div>
	</div>

{*	{block scripts}*}
{*	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>*}
{*	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>*}
{*	<script src="{$basePath}/js/main.js"></script>*}
{*	{/block}*}
</body>
</html>
