{block content}
    Zadejte svůj email, na který Vám bude zaslán kód pro vyplnění testu.
    {control emailFormControl}
    <br>
    <p>Už máte kód? Vyplňte jej <a n:href="Test:">zde</a>.</p>
{/block}
