{block content}
    <h1>Upravit otázku</h1>
    {control questionEditForm}
    <div style="display: inline-block">
        <a n:href="Question: $id" class="a-btn">
            <button type="button" class="btn btn-secondary">Zpět (neukládat)</button>
        </a>
    </div>
{/block}

