{block content}
    <h1>Seznam otázek</h1>
    <div style="display: inline-block">
        <a n:href="QuestionNew:" class="a-btn">
            <button type="button" class="btn btn-primary">Vytvořit novou otázku</button>
        </a>
    </div>
    {control questionDataGrid}
{/block}
