<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Kód pro přístup k testu</title>
    <style>
    </style>
</head>

<body>
<p>Dobrý den,</p>
<br/>
<p>Váš kód pro vyplnění testu je <strong>{$code}</strong></p>
</body>

</html>
