{block content}
    <h1>Otázka</h1>
    <p>{$question->getQuestion()}</p>
    <h2>Správná odpověď</h2>
    <ul>
        <li>{$question->getCorrectAnswer()}</li>
    </ul>
    <h2>Špatné odpovědi</h2>
    <ul>
        <li n:foreach="$question->getWrongAnswers() as $wrongAnswer">{$wrongAnswer}</li>
    </ul>

    <div>
    <div style="display: inline-block; vertical-align: top">
        <a n:href="QuestionEdit: $id" class="a-btn">
            <button type="button" class="btn btn-primary">Upravit</button>
        </a>
    </div>
    <div style="display: inline-block">
        {control questionDeleteForm}
    </div>
    </div>
    <div style="display: inline-block">
        <a n:href="Homepage:" class="a-btn">
            <button type="button" class="btn btn-secondary">Zpět na seznam otázek</button>
        </a>
    </div>
{/block}

