.page {
	padding: 4%;
}

.header {
	font-size: 40px;
	color: white;
	background-color: #043c60;
	height: 60px;
	padding: 3px 10px 10px;
}

.content {
	padding: 10px;
}

.btn {
	margin: 3px 3px 3px 0;
}

div .datagrid {
	padding-right: 0;
	padding-left: 0;
}

.correct-answer {
	font-size: 1.3em;
	font-weight: bold;
}

.selected-answer {
	background-color: #df8075;
}
.selected-answer.correct-answer {
	background-color: darkseagreen;
}
